body{
    background: #f5d9d5;
    font-family: "Nunito",sans-serif;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;

}

#headingGroup span {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;

}


.navbar.scrolled{
    background: rgb(222,192,222) ;
    transition: background 500ms;
}

@media(max-width:1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;

    }
}

footer {
    background-color: rgb(200, 33, 200);
}
.links{
    margin-right: auto;
    margin-left: 15px;
    margin-bottom: 10px;
}
.links a{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    display: block;
}
.logos{
    margin-right: 15px;
}
.links p ,.logos p{
    font-size: 25px;
    color: #fff;
}
.info p {
    text-align: center;
    font-family: "Nunito", sans-serif;
    padding: 5px;
    color: #fff;
}

.logos a {
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: rgb(24, 25, 26);
    color: white;
    border-radius: 50%;
    line-height: 47px;
}
.bottom{
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid ;
}
.links a:hover{
text-decoration: underline;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}